<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                            (click)="openNew()"></button>
                        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
                            (click)="deleteSelectedComptes()"
                            [disabled]="!selectedComptes || !selectedComptes.length"></button>
                            
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <!-- <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import"
                        chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload> -->
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"
                        (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="comptes" [columns]="cols" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['idCb','idClient','iban','solde']" [rows]="10" [paginator]="true"
                [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [(selection)]="selectedComptes" selectionMode="multiple" [rowHover]="true" dataKey="idCb">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Manage Comptes Epargne</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."
                                class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 5%">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="idCb">ID <p-sortIcon field="idCb"></p-sortIcon></th>
                        <th pSortableColumn="idCb">CIN CLIENT <p-sortIcon field="idCb"></p-sortIcon></th>
                        <th pSortableColumn="typeCompte">Date Ouverture <p-sortIcon field="typeCompte"></p-sortIcon></th>
                        <th pSortableColumn="idClient">ID Client <p-sortIcon field="idClient"></p-sortIcon></th>
                        <th pSortableColumn="iban">Iban <p-sortIcon field="iban"></p-sortIcon></th>
                        <th pSortableColumn="solde">Solde <p-sortIcon field="solde"></p-sortIcon></th>


                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-compte>
                    <tr>
                        <td style="width: 5%">
                            <p-tableCheckbox [value]="compte"></p-tableCheckbox>
                        </td>
                        <td style="width:8%; min-width:5rem;"><span class="p-column-title">ID</span>
                            {{compte.idCb }}
                        </td>
                        <td style="width:20%; min-width:10rem;">
                            <span class="p-column-title">CIN Client</span>
                            {{compte.cin_client}}
                        </td>
                        <td style="width:20%; min-width:10rem;">
                            <span class="p-column-title">Type Compte</span>
                            {{compte.dateOuverture}}
                        </td>
                        <td style="width:10%; min-width:10rem;">
                            <span class="p-column-title">Id Client</span>
                            {{compte.idClient}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Iban</span>
                            {{compte.rib}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Solde</span>
                            {{compte.solde}}
                        </td>
                        <td style="width:10%; min-width:10rem;">
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="editCompte(compte)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                    (click)="deleteCompte(compte)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="compteDialog" [style]="{width: '450px'}" header="Comptes Details" [modal]="true"
            class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                <label for="client">Client</label>
                    <p-autoComplete [(ngModel)]="selectedClientAdvanced" [suggestions]="filteredClient" (onSelect)="getSelectedValue($event)"
                        (completeMethod)="filterClient($event)" field="firstname" [dropdown]="true">
                    </p-autoComplete>
                </div>
                <!-- <img [src]="'assets/demo/images/product/' + product.image" [alt]="product.image" width="150" class="mt-0 mx-auto mb-5 block shadow-2" *ngIf="product.image"> -->
                <div class="field">
                    <label for="id">Id Client</label>
                    <input type="text" pInputText id="iban" [(ngModel)]="compte.idClient" [value]="currentIdClient" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !compte.idClient}" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !compte.idClient">Id Client is
                        required.</small>
                </div>
                <div class="field">
                    <label for="id">CIN Client</label>
                    <input type="text" pInputText id="cin" [(ngModel)]="compte.cin_client"  required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !compte.cin_client}" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !compte.cin_client">CIN Client is
                        required.</small>
                </div>
                <div class="field">
                    <label for="solde">Solde</label>
                    <input type="text" pInputText id="solde" [(ngModel)]="compte.solde" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !compte.solde}" />
                </div>
               
                    
              

            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
                    (click)="saveCompte()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteCompteDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="compte">Are you sure you want to delete <b>{{compte.idCb}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteCompteDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteComptesDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected comptes ?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteComptesDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>